################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Cpp_3Match/3Match/3Match.VC.db
/Cpp_3Match/3Match/3Match.VC.VC.opendb
